.manage-schedule-container {
	.m-s-title {
		text-transform: uppercase;
		margin-top: 15px;
		margin-bottom: 15px;
		font-size: 17px;
		text-align: center;
		font-weight: 600;
	}

	.pick-hour-container {
		padding-top: 20px;
		padding-bottom: 20px;
		display: flex;
		flex-wrap: wrap;
		gap: 20px;

		button {
			padding: 5px 15px;
			border: 1px solid grey;
		}
	}

	.btn-save-schedule {
		margin-top: 20px;
	}
}
